body {
	width:100%;
	height:100%;
}
#jl-base-app {
	position:relative;
	top:0px;
	transition: top .3s;
	height:inherit;
}
#jl-base-app.jl-hidden {
	display:none;	
}
#jl-base-app.jl-headpush-on {
	top:50px;
}
/* -------- HEAD --------- */
#jl-base-app > #jl-head {
	position:fixed;
	height: 34px;
	top:-50px;
	left:0px;
	width:100%;
	transition: top .3s;
	z-index:10;
	background-color:white;
}
#jl-base-app.jl-headpush-on > #jl-head {
	top:0px;
}
#jl-base-app > #jl-head > #jl-head-push {
	height:50px;
	background-color: #afdaff;
	position:relative;
}
#jl-base-app > #jl-head > #jl-head-push > .jl-bg-icon {
	position:absolute;
	right:-10px;
	top:-15px;
	font-size:60px;
	color: #e5f3ff;	
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#jl-base-app > #jl-head > #jl-head-content {
	height: 34px;
	border-bottom:2px solid red;
	background-color:white;
}
#jl-base-app > #jl-head > #jl-head-content > .jl-logo {
	display:inline-block;
	font-size:15px;
	color:#ff0000;
	position:relative;
	top:1px;		
}
#jl-base-app > #jl-head > #jl-head-content > .jl-logo i.fa {	
	width:25px;
	height:25px;
	color: red;
	border-radius:50%;
	font-size:15px;
}
#jl-base-app > #jl-head > #jl-head-content > .jl-logo i.fa:before {

}
#jl-base-app > #jl-head > #jl-head-content > .jl-buttons-bar {
	display:inline-block;
	height: 100%;
}
#jl-base-app > #jl-head > #jl-head-content > .jl-buttons-bar .btn {
	background-color: white;
	min-width:35px;
	border:none;
	border-radius:0px;
	text-align:center;
}
#jl-base-app > #jl-head > #jl-head-content > .jl-buttons-bar .btn:hover {
	background-color: #e5f3ff;
}
#jl-base-app > #jl-head > #jl-head-content > .jl-buttons-bar #jl-btn-main-push.btn,
#jl-base-app > #jl-head > #jl-head-content > .jl-buttons-bar #jl-btn-main-push.btn i.fa,
#jl-base-app > #jl-head > #jl-head-content > .jl-buttons-bar #jl-btn-head-push.btn ,
#jl-base-app > #jl-head > #jl-head-content > .jl-buttons-bar #jl-btn-head-push.btn i.fa {
	transition: all .6s;
}
#jl-base-app > #jl-head > #jl-head-content > .jl-buttons-bar .jl-logout {	
	
	display:inline-block;	
	height:100%;	
	vertical-align:top;		
	padding:0px;
	margin:0px;
	text-decoration:none;
	color:black;	
	cursor:pointer;
	overflow:hidden;
}
#jl-base-app > #jl-head > #jl-head-content > .jl-buttons-bar .jl-logout span{
	width:0px;
	display: inline-block;
	transition: all .6s;
	overflow:hidden;
	color:transparent;
	padding: 6px 0px;
}
#jl-base-app > #jl-head > #jl-head-content > .jl-buttons-bar .jl-logout:hover span{
	width: 63px;
	padding: 6px 12px;
	color:red;
}
#jl-base-app.jl-headpush-on > #jl-head > #jl-head-content > .jl-buttons-bar .jl-logout {	
	border-color:transparent;
}
#jl-base-app > #jl-head > #jl-head-content > .jl-buttons-bar .jl-logout i.fa{
	position:relative;
	margin-right:5px;
	border-radius:50%;
	transition:all .6s;
	top:1px;
	padding: 6px 12px;
	height: 30px;
	width: 30px;
	vertical-align: top;
}
#jl-base-app > #jl-head > #jl-head-content > .jl-buttons-bar .jl-logout:hover i.fa{	
	background-color: #fda9a8;
}
#jl-base-app > #jl-head > #jl-head-content > .jl-buttons-bar .jl-logout i.fa:before{
	position:relative;
	top: 2px;
	left: -2px;
}
#jl-base-app > #jl-head > #jl-head-content > .jl-buttons-bar #jl-btn-main-push.btn {
}
#jl-base-app > #jl-head > #jl-head-content > .jl-buttons-bar #jl-btn-main-push.btn i.fa{
}
#jl-base-app.jl-mainPush-on > #jl-head > #jl-head-content > .jl-buttons-bar #jl-btn-main-push.btn {
}
#jl-base-app.jl-mainPush-on > #jl-head > #jl-head-content > .jl-buttons-bar #jl-btn-main-push.btn i.fa{
	-ms-transform: translateY(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);	   
}
#jl-base-app > #jl-head > #jl-head-content > .jl-buttons-bar #jl-btn-head-push.btn {	
	
}
#jl-base-app > #jl-head > #jl-head-content > .jl-buttons-bar #jl-btn-head-push.btn:hover {
	background-color: #e5f3ff;
}
#jl-base-app.jl-headpush-on  > #jl-head > #jl-head-content > .jl-buttons-bar #jl-btn-head-push.btn {
	background-color: #c2e3ff;	
	border-radius:0px 0px  0px  30px;
	padding-left:30px;
}
#jl-base-app > #jl-head > #jl-head-content > .jl-buttons-bar #jl-btn-head-push.btn i.fa{
	position:relative;
	margin-right:5px;
}
#jl-base-app.jl-headpush-on > #jl-head > #jl-head-content > .jl-buttons-bar #jl-btn-head-push.btn i.fa{	
    -ms-transform: translateY(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
}
/* -------- MAIN --------- */
#jl-base-app > #jl-main {
	margin-top: 34px;
	position:relative;
	height:inherit;
}
#jl-base-app > #jl-main {

}
#jl-base-app > #jl-main > #jl-main-push {
	height:inherit;
	background: #fff;
}
#jl-base-app.jl-desktopSlide-on > #jl-main > #jl-main-push {
	width:250px;	
	position:absolute;
	top:0px;
	left:-250px;
	z-index:2;
	transition: left .3s;
}
#jl-base-app.jl-desktopSlide-on.jl-mainPush-on > #jl-main > #jl-main-push {
	left:0px;
}
#jl-base-app > #jl-main > #jl-main-push .jl-vertical-menu div.jl-info {
    background-color:#ff8d8d;
    height:100px;
}
#jl-base-app > #jl-main > #jl-main-content {
	padding:10px;
	background: #e5f3ff;
}
#jl-base-app.jl-desktopSlide-on > #jl-main > #jl-main-content {
	margin-left:0px;
	transition: margin-left .3s;
}
#jl-base-app.jl-desktopSlide-on.jl-mainPush-on > #jl-main > #jl-main-content {
	margin-left:250px;
	z-index:1;
}
#jl-base-app > #jl-main > #jl-main-content > div.jl-white-bg{
	padding:10px;	
	background:white;
}
#jl-base-app > #jl-main > #jl-main-content > div.jl-white-bg > div.jl-border {
	padding:10px;	
	border:1px solid #ddd;	
}
/* -------- FOOT --------- */
#jl-base-app > #jl-main > #jl-main-content > #jl-foot {	
	padding:10px;
	text-align: center;
	background-color:transparent;	
}




