body {
	width:100%;
	height:100%;
}
#jl-base-app {
	position:relative;
	top:0px;
	transition: top .3s;
	height:inherit;
}
#jl-base-app.jl-headpush-on {
	top:50px;
}
/* -------- HEAD --------- */
#jl-base-app > #jl-head {
	position:fixed;
	height: 34px;
	top:-50px;
	left:0px;
	width:100%;
	transition: top .3s;
	z-index:10;
	background-color:white;
}
#jl-base-app.jl-headpush-on > #jl-head {
	top:0px;
}
#jl-base-app > #jl-head > #jl-head-push {
	height:50px;
	background-color: #b8d1e6;
	position:relative;
	overflow:hidden;
}
#jl-base-app > #jl-head > #jl-head-push > .jl-bg-icon {
	position:absolute;
	right:-10px;
	top:-15px;
	font-size:60px;
	color: #9db8ce;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#jl-base-app > #jl-head > #jl-head-content {
	height: 34px;
	background-color:white;
	border-bottom:2px solid red;
}
#jl-base-app > #jl-head > #jl-head-content > .jl-logo {
	display:inline-block;
	font-size:15px;
	color:#ff0000;
	position:relative;
	margin-left:15px;
	margin-right:15px;
	padding:4px;
}
#jl-base-app > #jl-head > #jl-head-content > .jl-logo i.fa {
	position:relative;
	top:-4px;
	width:25px;
	height:25px;
	color:white;	
	background:#ff1f1f;
	border-radius:50%;
	font-size:15px;
}
#jl-base-app > #jl-head > #jl-head-content > .jl-logo i.fa:before {
	position:relative;
	left:5px;
	top:6px;
}

#jl-base-app > #jl-head > #jl-head-content > .jl-buttons-bar {
	display:inline-block;
	height: 100%;
}
#jl-base-app > #jl-head > #jl-head-content > .jl-buttons-bar .btn {
	background-color: white;
	min-width:35px;
	border:none;
	border-radius:0px;
	text-align:center;
}
#jl-base-app > #jl-head > #jl-head-content > .jl-buttons-bar .btn:hover {
	background-color: #eee;	
}
#jl-base-app > #jl-head > #jl-head-content > .jl-buttons-bar #jl-btn-main-push.btn,
#jl-base-app > #jl-head > #jl-head-content > .jl-buttons-bar #jl-btn-main-push.btn i.fa,
#jl-base-app > #jl-head > #jl-head-content > .jl-buttons-bar #jl-btn-head-push.btn ,
#jl-base-app > #jl-head > #jl-head-content > .jl-buttons-bar #jl-btn-head-push.btn i.fa {
	transition: all .6s;
}
#jl-base-app > #jl-head > #jl-head-content > .jl-buttons-bar #jl-btn-main-push.btn {
}
#jl-base-app > #jl-head > #jl-head-content > .jl-buttons-bar #jl-btn-main-push.btn i.fa{
}
#jl-base-app.jl-mainPush-on > #jl-head > #jl-head-content > .jl-buttons-bar #jl-btn-main-push.btn {
}
#jl-base-app.jl-mainPush-on > #jl-head > #jl-head-content > .jl-buttons-bar #jl-btn-main-push.btn i.fa{
	-ms-transform: translateY(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);	   
}
#jl-base-app > #jl-head > #jl-head-content > .jl-buttons-bar #jl-btn-head-push.btn {	
	
}
#jl-base-app > #jl-head > #jl-head-content > .jl-buttons-bar #jl-btn-head-push.btn:hover {
	background-color: #b8d1e6	
}
#jl-base-app.jl-headpush-on  > #jl-head > #jl-head-content > .jl-buttons-bar #jl-btn-head-push.btn {
	background-color: #b8d1e6;	
	border-radius:0px 0px  0px  30px;
	padding-left:30px;
}
#jl-base-app > #jl-head > #jl-head-content > .jl-buttons-bar #jl-btn-head-push.btn i.fa{
	position:relative;    
    top:1px; 
	margin-right:5px;
}
#jl-base-app.jl-headpush-on > #jl-head > #jl-head-content > .jl-buttons-bar #jl-btn-head-push.btn i.fa{	
    -ms-transform: translateY(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
}
/* -------- MAIN --------- */
#jl-base-app > #jl-main {
	margin-top: 34px;
	position:relative;
	height:inherit;
}
#jl-base-app > #jl-main {

}
#jl-base-app > #jl-main > #jl-main-push {
	height:inherit;
	background:#ddd;
}
#jl-base-app.jl-desktopSlide-on > #jl-main > #jl-main-push {
	width:250px;	
	position:absolute;
	top:0px;
	left:-250px;
	z-index:2;
	transition: left .3s;
}
#jl-base-app.jl-desktopSlide-on.jl-mainPush-on > #jl-main > #jl-main-push {
	left:0px;
}
#jl-base-app > #jl-main > #jl-main-content {
	padding:10px;
	background:#eee;
}
#jl-base-app.jl-desktopSlide-on > #jl-main > #jl-main-content {
	margin-left:0px;
	transition: margin-left .3s;
}
#jl-base-app.jl-desktopSlide-on.jl-mainPush-on > #jl-main > #jl-main-content {
	margin-left:250px;
	z-index:1;
}
#jl-base-app > #jl-main > #jl-main-content > div.jl-white-bg{
	padding:10px;	
	background:white;
}
#jl-base-app > #jl-main > #jl-main-content > div.jl-white-bg > div.jl-border {
	padding:10px;	
	border:1px solid #ddd;	
}
/* -------- FOOT --------- */
#jl-base-app > #jl-main > #jl-main-content > #jl-foot {	
	padding:10px;
	text-align: center;
	background-color:transparent;	
}




