body {
	width:100%;
	height:100%;
}
#jl-base-app {
	/* This is just a container for whole application */
}
/* -------- HEAD --------- */
#jl-base-app > #jl-head {
	/* This is just a container for head part */

	height:100px;
	position:relative;
	top:-50px; /* to hide by default head-push */
	overflow:hidden;
	transition: top 0.3s;
}
#jl-base-app > #jl-head > #jl-head-push {
	background-color:white;
	height:50px;
	border-bottom:2px solid #EEE;
}
#jl-base-app > #jl-head > #jl-head-content {
	background-color:white;
	height:50px;
	border-bottom:2px solid red;
}
#jl-base-app > #jl-head > #jl-head-content > .jl-buttons-bar {
	
	display:inline-block;
	padding:7px;
}
#jl-base-app > #jl-head > #jl-head-content > .jl-buttons-bar .btn {
	border:1px solid #DDD;
	background-color:white
}
/* -------- MAIN --------- */
#jl-base-app > #jl-main {
	/* This is just a container for main part */

	position:fixed;
	top:0px;
	left:0px;
	height:100%;
	width:100%;
	overflow-y:auto;
	overflow-x:hidden;
	margin-top:50px; /* space for header in page */
	transition: margin-top 0.3s;

}
#jl-base-app > #jl-main > #jl-main-push {
	background-color:#101010;
	color:white;
	border-right:2px solid red;	
	overflow-y:auto;
	overflow-x:hidden;
	padding:10px;
}
#jl-base-app > #jl-main > #jl-main-content {
	background-color:#dff1ff;	
	padding:10px;
	height:inherit; /* Should take the fool size of page */
	width:inherit;  /* Should take the fool size of page */	
}
/* -------- FOOT --------- */
#jl-base-app > #jl-foot {
	/* This is just a container for foot part */

	display:none;
}

/*  -------- ACTIONS -------- */


#jl-base-app.jl-head-push-is-active > #jl-head {
	top:0;
}
#jl-base-app.jl-head-push-is-active > #jl-main {
	margin-top:100px;
}

/* -------- MEDIAS -------- */

@media screen and (min-width: 768px) {
   	html.slideout-open #jl-base-app > #jl-main > #jl-main-content {        
		padding-right: 260px; /* 250px because of menu and 10 for previous padding */
    }
}

.jl-border {
	border:1px solid #ddd;
	padding:10px;
	background:white;
}

