@media screen and (max-width: 768px) {    
	
	#jl-base-app > #jl-head {
		top:-130px;
	}
	#jl-base-app > #jl-head > #jl-head-push {
		height:130px;
	}	
	#jl-base-app.jl-headpush-on > #jl-main {
		margin-top:115px;
	}
	#jl-base-app > #jl-main > #jl-main-content {
		padding:0px;		
	}
	#jl-base-app > #jl-main > #jl-main-content div.jl-white-bg {
		padding:0px;		
	}
	#jl-base-app > #jl-main > #jl-main-content div.jl-white-bg div.jl-border {
		border:none;
	}
	

}