.jl-vertical-menu {
    padding:0px;
    position:fixed;
    width:250px;
    height:100%;
    overflow:auto;
    padding-bottom:100px;
    background: white;
}
.jl-vertical-menu::-webkit-scrollbar {
    width: 0px; /* hide scrollbar */
}
.jl-vertical-menu li.jl-info {
    background-color:#fff;
	background-image: linear-gradient(30deg, #efefef 12%, transparent 12.5%, transparent 87%, #efefef 87.5%, #efefef),
	linear-gradient(150deg, #efefef 12%, transparent 12.5%, transparent 87%, #efefef 87.5%, #efefef),
	linear-gradient(30deg, #efefef 12%, transparent 12.5%, transparent 87%, #efefef 87.5%, #efefef),
	linear-gradient(150deg, #efefef 12%, transparent 12.5%, transparent 87%, #efefef 87.5%, #efefef),
	linear-gradient(60deg, #e2e2e2 25%, transparent 25.5%, transparent 75%, #e2e2e2 75%, #e2e2e2), 
	linear-gradient(60deg, #e2e2e2 25%, transparent 25.5%, transparent 75%, #e2e2e2 75%, #e2e2e2);
	background-size:80px 140px;
	background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
    height:150px;
    border-bottom:1px solid #ddd;
	padding:10px;
}
.jl-vertical-menu li.jl-divider {
    cursor:default;
    border-bottom: 1px solid #ddd;
    padding:0px;
    height:0px;
}
.jl-vertical-menu li.jl-link {
    list-style: none outside none;
    border-bottom: 1px solid #eee;
    padding: 15px 15px;
    cursor:pointer;
    position:relative;
    overflow:hidden;
    font-size:20px;
}
.jl-vertical-menu li.jl-link:hover {
    background-color:#ccc;       
}
.jl-vertical-menu li.jl-link.active {
     background-color: #afdaff;
     color:red;
}
.jl-vertical-menu li.jl-link i.fa {    
    color: #3c3c3c;
    font-size: 15px;
    -ms-transform: translateY(15deg); /* IE 9 */
    -webkit-transform: rotate(15deg); /* Chrome, Safari, Opera */
    transform: rotate(15deg);
    width:30px;
    text-align: center;
    position:relative;
    top:-2px;
 
}
.jl-vertical-menu li.jl-link.active i.fa {
    color: red;   
}
.jl-vertical-menu li.jl-link:hover i.fa {
    
}