.jl-vertical-menu {
    padding:0px;
    position:fixed;
    width:250px;
    height:100%;
    overflow:auto;
    padding-bottom:100px;
}
.jl-vertical-menu::-webkit-scrollbar {
    width: 0px; /* hide scrollbar */
}
.jl-vertical-menu li.jl-divider {
    cursor:default;
    border-bottom: 1px solid #ddd;
    padding:0px;
    height:0px;
}
.jl-vertical-menu li.jl-link {
    list-style: none outside none;
    border-bottom: 1px solid #eee;
    padding: 15px 15px;
    cursor:pointer;
    position:relative;
    overflow:hidden;
    font-size:20px;
}
.jl-vertical-menu li.jl-link:hover {
    background-color:#ccc;       
}
.jl-vertical-menu li.jl-link.active {
     background-color: #afdaff;
     color:red;
}
.jl-vertical-menu li.jl-link i.fa {    
    color: #3c3c3c;
    font-size: 15px;
    -ms-transform: translateY(15deg); /* IE 9 */
    -webkit-transform: rotate(15deg); /* Chrome, Safari, Opera */
    transform: rotate(15deg);
    width:30px;
    text-align: center;
    position:relative;
    top:-2px;
 
}
.jl-vertical-menu li.jl-link.active i.fa {
    color: red;   
}
.jl-vertical-menu li.jl-link:hover i.fa {
    
}